@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poiret+One&display=swap');

:root {
    --color-cyan: #2CD3E1;
    --color-background: #10002b;
    --font-logo: 'Great Vibes', cursive;
    --font-main: 'Poiret One', cursive;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#00000044, #00000044), url(images/bkg-lake-blurred.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    color: #ffffff;
    text-align: center;
}

.form-container {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    width: 60%;
    height: 80%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.form-container .image-side, .form-container .form-side {
    width: 50%;
    height: 100%;
}

.form-container .image-side {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: linear-gradient(#00000011, #00000099), url(images/bkg-lake.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.form-container .image-side p:first-child {
    font-family: var(--font-logo);
    font-size: 4rem;
}

.form-container .image-side p:nth-child(2),
.form-container .image-side p:nth-child(3) {
    font-family: var(--font-main);
    padding: 0 10px;
}

.form-container .image-side button {
    width: 100px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: #00000011;
    color: #ffffff;
    font-family: var(--font-main);
    border-radius: 3px;
    font-size: 1.1rem;
    transition: all 85ms ease-out;
}

.form-container .image-side button:hover {
    background-color: #ffffff;
    color: #000000;
    scale: 1.05;
    box-shadow: 0px 0px 5px 5px #ffffff;
}

.form-container .image-side button:active {
    scale: 0.9;
}

.form-container .form-side {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
}

.form {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 10px;
}

form legend {
    color: var(--color-cyan);
    font-family:var(--font-main);
    font-size: 1.5rem;
    text-align:center;
    margin-bottom: 25px;
}

.form-container .form-side .form .names {
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 10px;
}


label {
    font-family: var(--font-main);
    text-align:left;
}
label:first-child, label:nth-child(2) {
    line-height: 2;
}

input {
    width: 100%;
    height: 30px;
    border: 1px solid var(--color-cyan);
    border-radius: 3px;
    padding-left: 3px;
    transition:all 150ms ease-in;
}

input:hover {
    box-shadow: rgba(3, 207, 214, 0.3) 0px 0px 0px 3px;
    scale:1.01;
}

input:focus {
    border: 1px solid #2CD3E144;
    background-color: #2CD3E144;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    outline: 2px solid #2cd3e144;
    scale:1.02;
}

.form button {
    width: 100px;
    height: 40px;
    align-self: center;
    font-family: var(--font-main);
    border-radius: 3px;
    border: 1px solid var(--color-cyan);
    background-color: #00000000;
    color: var(--color-cyan);
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 25px;
    transition: all 85ms ease-out;
}

.form button:hover {
    scale: 1.1;
    box-shadow: 0px 0px 5px 5px var(--color-cyan);
    background-color: var(--color-cyan);
    color: #ffffff;
}

.form button:active {
    scale: 0.9;
}

.author {
    position:relative;
    top: 40px;
    text-align:center;
    font-family: var(--font-main);
}

.fa-github {
    font-size: 2rem;
    transition: all 450ms ease-out;
}
.fa-github:hover {
    scale: 1.5;
    rotate: 360deg;
    translate: 10px 0;
}
